* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', serif;
}

.container {
    width: 100%;
    margin: 1rem 0;
}

.container>div {
    margin: 0 0.5rem;
}

.game-container>div {
    margin: 0.5rem 0;
}

.tab-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    grid-gap: 20px;
}

.gold-container,
.attempts-container,
.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    /* background-color: #000;
    color: #fff; */
}

.row1,
.row2 {
    display: flex;
    /* align-items: space-between; */
    align-items: center;
    grid-gap: 20px;
}

.locations {
    display: flex;
    grid-gap: 10px;
}

.total-gains,
.total-lost {
    display: flex;
    grid-gap: 10px;
}