* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.container {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    align-items: center;
}

.game {
    max-width: 900px;
    width: 100%;
}

.game-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title img {
    width: 50%;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    background-color: #ffd096;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

button {
    font-size: 1.4rem;
    outline: none;
    border: none;
    background-color: black;
    padding: 0.5rem;
    color: white;
    border-radius: 0.2rem;
    display: block;
    cursor: pointer;
}

.gold-container,
.attempts-container,
.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    /* background-color: #000;
    color: #fff; */
}

.gold-container img {
    width: 30px;
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd096;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.row {
    margin: 2rem 0;

}

.ninja {
    width: 120px;
    height: 120px;
    position: relative;
    animation: breathe 1.3s ease-in backwards infinite;
}

@keyframes breathe {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }
}

.locations img {
    cursor: pointer;
    position: relative;
    width: 150px;
    height: 150px;
    transition: 0.2s;
}

.locations img:hover {
    transform: scale(1.05);
}

.log-container {
    background-color: #ffd096;
    border-radius: 0.3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.log {
    display: flex;
    justify-content: space-between;
}

.total-gains,
.total-lost {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}

.log-history {
    margin-top: 1rem;
    max-height: 230px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#gains,
#losses,
#zero h3 {
    text-align: center;
}

#gains,
#losses,
#zero p {
    text-align: center;
}

.total-gains span {
    color: green;
}

.total-lost span {
    color: red;
}